@CHARSET "UTF-8";
@charset "utf-8";
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div{margin:0 auto}
div {text-align:left}
a img {border:0}
body { color: #333; font: 10px "宋体"; }
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover { color: #D40000; text-decoration: none}
.button {display: inline-block;zoom: 1; *display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;text-align: center;text-decoration: none;font: 14px/100% Arial, Helvetica, sans-serif;padding:0.25em 0.6em 0.3em;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: .5em; -moz-border-radius: .5em;border-radius: .5em;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.red {color: #faddde;border: solid 1px #980c10;background: #d81b21;background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#A51715));background: -moz-linear-gradient(top,  #ed1c24,  #A51715);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); background: -moz-linear-gradient(top,  #c9151b,  #a11115); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); color:#fff;}
.red:active {color: #de898c;background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');}
.cor_bs,.cor_bs:hover{color:#ffffff;}
.keBody{color: #333;}
.keTitle{height:100px; line-height:80px; font-size:30px; font-family:'微软雅黑'; color:#FFF; text-align:center; font-weight:normal; background:#333;}
.kePublic{background:#FFF; padding:10px;}
.keBottom{color:#FFF; padding-top:25px; line-height:28px; text-align:center; font-family:'微软雅黑'; background:url(../images/bodyBg2.jpg) repeat-x top left; padding-bottom:25px}
.keTxtP{font-size:16px; color:#ffffff;}
.keUrl{color:#FFF; font-size:30px;}
.keUrl:hover{ text-decoration: underline; color: #FFF; }
.mKeBanner,.mKeBanner div{text-align:center;}
.fr{float:right}
.cor_org,.cor_org:hover{ color: #F60; }
.hidden{display:none}
.m2mapBox { margin: 24px auto; height: 728px; width: 495px; position: relative; }
.m2mapCon { padding: 5px 18px 26px; width: 252px; position: absolute; border: 1px solid #C8C8C8; background: #FFF; }
.m2map_t { line-height: 44px; height: 44px; border-bottom: 1px solid #DEDEDE; font-size: 16px; color: #3068b4; font-weight: bold; }
.m2mapList ul li { padding-bottom: 12px; border-bottom: 1px dotted #DEDEDE; line-height: 22px; }
.m2map_t2 { line-height: 22px; height: 20px; padding-top: 12px; }
.m2mapCon1{ left:260px; top:20px;}
.m2mapCon2{ left:301px; top:355px;}
.m2mapCon3{ left:475.5px; top:451px;}
.m2mapCon4{ left:263px; top:290.4px;}
.m2mapCon5{ left:443.6px; top:417.1px;}
.m2mapCon6{ left:173.8px; top:150px;}
.m2mapCon7{ left:314.3px; top:344.5px;}
.m2mapCon8{ left:59.3px; top:37px;}
.m2mapCon9{ left:476px; top:145px;}
.m2mapCon10{ left:480px; top:367px;}
.m2mapCon11{ left:274px; top:98px;}
.m2mapCon12{ left:324px; top:28px;}
.m2mapCon13{ left:469px; top:144px;}
.m2mapCon14{ left:260px; top:285px;}
.m2mapCon15{ left:347px; top:402px;}
.m2mapCon16{ left:473px; top:444px;}
.m2mapCon17{ left:443px; top:409px;}
.m2close { position: absolute; top: 22px; right: 18px; cursor: pointer; }